In [3]:
import pandas as pd
import requests

In [5]:
# Bristol city centre coordinates
LAT = 51.4545
LON = -2.5879

In [7]:
start_date = "2024-01-01"
end_date   = "2024-12-31"

In [9]:
#get weather from API
url = (
    "https://archive-api.open-meteo.com/v1/archive?"
    f"latitude={LAT}&longitude={LON}"
    f"&start_date={start_date}&end_date={end_date}"
    "&daily=temperature_2m_max,temperature_2m_min,temperature_2m_mean,"
    "precipitation_sum,rain_sum,snowfall_sum,windspeed_10m_max,windspeed_10m_mean"
    "&timezone=Europe/London"
)

response = requests.get(url)
data = response.json()

weather = pd.DataFrame(data["daily"])
weather["date"] = pd.to_datetime(weather["time"])
weather = weather.drop(columns=["time"])

weather.to_csv("C:/Users/DuminduS/Desktop/UWE/CSCT Masters Project/datasets/bristol_weather_2024.csv", index=False)

weather.head()

,temperature_2m_max,temperature_2m_min,temperature_2m_mean,precipitation_sum,rain_sum,snowfall_sum,windspeed_10m_max,windspeed_10m_mean,date
0,12.0,7.3,8.7,16.6,16.6,0.0,43.0,25.5,2024-01-01
1,13.4,9.1,10.7,8.7,8.7,0.0,53.7,29.7,2024-01-02
2,9.7,7.8,8.7,2.2,2.2,0.0,27.9,23.8,2024-01-03
3,8.3,5.4,6.8,8.4,8.4,0.0,28.5,16.8,2024-01-04
4,7.5,3.8,5.3,0.0,0.0,0.0,14.5,9.9,2024-01-05