In [21]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv("C:/Users/DuminduS/Desktop/UWE/CSCT Masters Project/datasets/Final_dataset.csv")

In [25]:
df.head()

,station_id,date,sessions,energy_kwh,mean_charge_duration_min,latitude,longitude,n_connectors,city_daily_traffic,temperature_2m_max,temperature_2m_min,temperature_2m_mean,precipitation_sum,rain_sum,snowfall_sum,windspeed_10m_max,windspeed_10m_mean
0,BRI_0000,01/01/2024,22,602.991,133.911205,51.542927,-2.568751,6,NaN,12.0,7.3,8.7,16.6,16.6,0.0,43.0,25.5
1,BRI_0000,02/01/2024,44,984.970,136.226415,51.542927,-2.568751,6,NaN,13.4,9.1,10.7,8.7,8.7,0.0,53.7,29.7
2,BRI_0000,03/01/2024,32,582.430,136.061438,51.542927,-2.568751,6,NaN,9.7,7.8,8.7,2.2,2.2,0.0,27.9,23.8
3,BRI_0000,04/01/2024,32,753.940,161.179459,51.542927,-2.568751,6,NaN,8.3,5.4,6.8,8.4,8.4,0.0,28.5,16.8
4,BRI_0000,05/01/2024,40,797.936,114.216709,51.542927,-2.568751,6,NaN,7.5,3.8,5.3,0.0,0.0,0.0,14.5,9.9

In [27]:
df = pd.read_csv("C:/Users/DuminduS/Desktop/UWE/CSCT Masters Project/datasets/Final_dataset.csv")

# Convert date to datetime
df["date"] = pd.to_datetime(df["date"], errors="coerce")

# Count missing values per column
missing_counts = df.isna().sum()
missing_percent = (df.isna().sum() / len(df)) * 100

missing_df = pd.DataFrame({
    "missing_count": missing_counts,
    "missing_percent": missing_percent.round(2)
})

missing_df

                          missing_count  missing_percent
station_id                            0             0.00
date                              32188            60.66
sessions                              0             0.00
energy_kwh                            0             0.00
mean_charge_duration_min              0             0.00
latitude                              0             0.00
longitude                             0             0.00
n_connectors                          0             0.00
city_daily_traffic                48427            91.26
temperature_2m_max                    0             0.00
temperature_2m_min                    0             0.00
temperature_2m_mean                   0             0.00
precipitation_sum                     0             0.00
rain_sum                              0             0.00
snowfall_sum                          0             0.00
windspeed_10m_max                     0             0.00
windspeed_10m_mean                    0             0.00